<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-control" content="no-cache">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
  <h3>Query: Which country's population has increased/decreased the most across 20 years?</h3>
  <p>Through this chart, you can see that <b>{{increase}}</b>'s population increased the most and <b>{{decrease}}</b>'s population decreased the most</p>
  <canvas id="myChart" width="400" height="400"></canvas>
<script>

var ctx = document.getElementById("myChart").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{country_name | tojson}},
        datasets: [{
            label: 'Population',
            data: {{difference | tojson}},
            backgroundColor: 
                'rgba(255, 99, 132, 0.2)',
            borderColor: 
                'rgba(255,99,132,1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
</body>
</html>
