<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
  <h1>Which country within {{region}} has the highest life expectancy rate and how does it compare to the rest of the region?</h1>
  <p>Through this chart, you can see that {{highest}} has the highest life expectancy rate</p>
  <canvas id="myChart" width="400" height="400"></canvas>
  
<script>
var ctx = document.getElementById("myChart").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{country | tojson}},
        datasets: [{
            label: 'Average life expectancy (age)',
            data: {{expectancy | tojson}},
            backgroundColor: 
                'rgba(255, 99, 132, 0.2)',
            borderColor: 
                'rgba(255,99,132,1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

</script>
  
  
</body>
</html>